{% extends 'User/user-standard.html' %}
{% load static %}

{% block title %}ONG{% endblock %}

{% block content-header %}
    <div class="row">
        <div class="c-fundacion-title">
            <img src="{% static 'internal/img/ong-edra.png' %}" class="user-image" alt="Fundacion {{ ong.name }} Image"
                 width="100">
        </div>
        <div class="col-xs-6">
            <form method="POST" action="{% url 'user-ong-in' pk=ong.pk %}">
                {% csrf_token %}
                <br>
                Fundación {{ ong.name }}
                {% if ong_is_fav %}
                <button class="fa fa-star-o c-star"></button>
                {% else %}
                <button class="fa fa-star-o c-star--empty"></button>
                {% endif %}
                <br>
                <small>
                    <i class="fa fa-star c-star"></i>
                    {{ ong_count }}
                </small>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
    {% for animal in animals %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="info-box" style="text-align:center;">
            <div class="myDiv" style="display:inline-block;">
                <img src={{ animal.image.url }} width="90" height="90">
            </span>
            </div>
            <div class="info-box-content" style="display:inline-block;">
                <span class="info-box-number">
                    {{ animal.animal.name }}
                </span>
                {% if animal.animal.gender == 1 %}
                <span class="info-box-text">{{ animal.animal.animal_type.name }} | Macho</span>
                {% else %}
                <span class="info-box-text">{{ animal.animal.animal_type.name }} | Hembra</span>
                {% endif %}
                <div class="c-info-box__btns">
                    <div class="c-info-box__btns__one">
                        <a href="{% url 'see-animal' animal.animal.id %}" type="button" class="btn btn-xs btn-info">
                            <i class="fa fa-eye"></i>
                            &nbsp; Ver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- /.row -->

{% endblock %}
